@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/code-highlight/styles.css';

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
